<div class="row">
  <h1>Your Cart</h1>
  <hr>
    <div class="col-sm-12 carts">
      <hr>
      <p>{{cart.updatedAt}}</p>
      <p>Order#: {{cart._id}}</p>
      <hr>
      <div class="col-sm-8">
        {{#each cart.products as |product|}}
          <h4>{{product.id}}</h4>
          <p>${{product.price}}</p>
          <p>Quantity: {{product.quantity}}</p>
        {{/each}}

      </div>

      <div class="col-sm-4" data-id={{cart._id}}>
        <h4>${{cart.totalPrice}}</h4>
        <h4>DevCred: {{cart.totalDevCred}}</h4>
        <h4>Paid: {{cart.isPaid}}</h4>
        <button class="btn btn-default viewCartBtn">View</button>
      </div>
    </div>
    <hr>
</div>
