<div class="row">
  <h1>Your Cart</h1>
  <hr>
    {{#each items as |item|}}
    <div class="col-sm-12 carts">
      <hr>
          <div class="col-sm-6" style="height: 200px; margin-bottom: 10px;">
            <img src="{{item.img}}">
          </div>
          <div class="col-sm-6" style="height: 200px; margin-bottom: 10px;">
            <h2>{{item.name}}</h2>
            <h3>${{item.basePrice}}  DevCred: {{item.devCred}} </h3>
            <p>{{item.des}}</p>
            <p>Quantity: {{item.quantity}}</p>
          </div>
      </div>
    {{/each}}
    </div>
    <hr>
</div>
