<div class="row">
  <h1>Your Transaction History</h1>
  {{#each carts as |cart|}}
  <hr>
    <div class="col-sm-12 carts">
      <hr>
      <p>{{cart.updatedAt}}</p>
      <p>Order#: {{cart._id}}</p>
      <hr>
      <div class="col-sm-8">
        {{#each cart.products as |product|}}
          <div class="col-sm-6">
            <img src="{{product.img}}" style="height: 150px; margin-bottom: 10px;">
          </div>
          <div class="col-sm-6" style="height: 150px; margin-bottom: 10px;">
            <p>{{product.name}}</p>
            <p>${{product.basePrice}} per unit</p>
            <p>Quantity: {{product.quantity}}</p>
            <p>DevCred: {{product.devCred}} per unit</p>
          </div>
        {{/each}}

      </div>

      <div class="col-sm-4" data-id={{cart._id}}>
        <h4>Total Price: ${{cart.totalPrice}}</h4>
        <h4>Total DevCred: {{cart.totalDevCred}}</h4>
        <h4>Paid: {{cart.isPaid}}</h4>
        <button class="btn btn-default viewCartBtn">View</button>
      </div>
    </div>
    <hr>
  {{/each}}
</div>
