<div class="row">
  <h1>Your Cart</h1>
  <hr>
    {{#each items as |item|}}
    <div class="col-sm-12 carts">
      <hr>
          <div class="col-sm-6" style="height: 200px; margin-bottom: 10px;">
            <img src="{{item.img}}">
          </div>
          <div class="col-sm-6" style="height: 200px; margin-bottom: 10px;">
            <h2>{{item.name}}</h2>
            <h3>${{item.basePrice}}  DevCred: {{item.devCred}} </h3>
            <p>{{item.des}}</p>
            <label for="inputEmail3" class="col-sm-3 control-label">Quantity</label>
            <div class="col-sm-7">
              <input type="number" name='quantity' min='1' max='10' class="form-control itemQuantity" value="{{item.quantity}}">
            </div>
            <button data-id={{item.id}} class='deleteItemBtn'>Remove Item</button>
          </div>
      </div>
    {{/each}}
    </div>
    <hr>
</div>
