
<!-- FORM FOR UPDATING USER PROFILE -->
<div style="margin-top:100px;">
  <form id="updateUserForm">
    <h3>Your Profile</h3>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">First Name</label>
      <div class="col-sm-9">
        <input type="text" name="credentials[firstName]" id="firstNameInput" class="form-control" value={{user.firstName}} placeholder="First Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Last Name</label>
      <div class="col-sm-9">
        <input type="text" name="credentials[lastName]" id="lastNameInput" class="form-control" value={{user.lastName}} placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Alias</label>
      <div class="col-sm-9">
        <input type="text" name="credentials[coderName]" id="coderNameInput" class="form-control" value={{user.coderName}} placeholder="Alias">
      </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <!-- PLACE SHOWING A USER'S SUPER POWERS -->
  <div class="row">
    <h1>Your Super Powers</h1>
    {{#each user.powers as |power|}}
      <div class="col-sm-4">
        <img src="{{power.img}}" style="width: 100px;">
        <h3>{{power.name}}</h3>
      </div>
    {{/each}}
  </div>



  <!-- PLACE SHOWING A USER'S Skills -->
    <h1>Your Skills: </h1>
    <h3>{</h3>
    {{#each user.skills as |skill|}}
      <p><span>{{skill.name}}</span>: {{skill.level}}</p>
    {{/each}}
    <h3>}</h3>

</div>
