
<!-- FORM FOR UPDATING USER PROFILE -->
<div style="margin-top:200px;">
  <form id="updateUserForm">
    <h3>Your Profile</h3>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">First Name</label>
      <div class="col-sm-9">
        <input type="text" name="credentials[firstName]" id="firstNameInput" class="form-control" value={{user.firstName}} placeholder="First Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Last Name</label>
      <div class="col-sm-9">
        <input type="text" name="credentials[lastName]" id="lastNameInput" class="form-control" value={{user.lastName}} placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Alias</label>
      <div class="col-sm-9">
        <input type="text" name="credentials[coderName]" id="coderNameInput" class="form-control" value={{user.coderName}} placeholder="Alias">
      </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <!-- PLACE SHOWING A USER'S SUPER POWERS -->
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Bug Slayer: </h3> <p>{{user.bugSlayer}}</p>
        </div>
        <div class="col-sm-4">
          <h3>Bug Slayer: </h3> <p>{{user.bugSlayer}}</p>
        </div>
        <div class="col-sm-4">
          <h3>Bug Slayer: </h3> <p>{{user.bugSlayer}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3>Bug Slayer: </h3> <p>{{user.bugSlayer}}</p>
        </div>
        <div class="col-sm-4">
          <h3>Bug Slayer: </h3> <p>{{user.bugSlayer}}</p>
        </div>
        <div class="col-sm-4">
          <h3>Bug Slayer: </h3> <p>{{user.bugSlayer}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- PLACE FOR SHOWING A USER'S SKILLS -->
  <div>
  </div>

</div>






<!-- angular
:
99
bootStrap
:
99
bugSlayer
:
true
c
:
99
cPlusPlus
:
99
cSharp
:
99
coderName
:
"dam"
coffeeATM
:
true
createdAt
:
"2017-08-25T17:45:38.922Z"
css
:
99
devCred
:
99
django
:
99
docMaster
:
true
email
:
"12@12"
ember
:
99
fireFingers
:
true
firstName
:
"happy"
fourScreens
:
true
go
:
99
html
:
99
id
:
"59a062420a980b1b7cd0b45a"
java
:
99
javaScript
:
99
lastName
:
"wow"
mongoDB
:
99
mySQL
:
99
node
:
99
password
:
null
python
:
99
rails
:
99
react
:
99
ruby
:
99
sass
:
99
steadyHands
:
true
updatedAt
:
"2017-08-28T14:01:16.883Z"
walkingGoogle
:
true -->
