{{#each collections as |collection|}}
  <div class="col col-md-3 grid" data-collection-id="{{collection.id}}" data-collection-name="{{collection.name}}" data-collection-description="{{collection.description}}" >
    <img src="https://raw.githubusercontent.com/kailinc/airkicks-front-end/master/assets/img/collection.png">
    <h3> {{collection.name}}</h3>
    <p> {{collection.description}}</p>
    <button type="button" class="btn btn-primary viewCollectionBtn">View Collection</button>
    <button type="button" class="btn btn-primary editCollectionBtn">Edit Collection</button>
    <button type="button" class="btn btn-danger deleteCollectionBtn">Delete Collection</button>
  </div>

{{/each}}
